.page {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background: var(--go-ui-color-gray-10);
    height: 100%;
    overflow: hidden;

    >* {
        width: 100%
    }

    .left-pane {
        display: flex;
        flex-direction: column;
        background-color: var(--go-ui-color-white);
        gap: var(--go-ui-spacing-md);
        width: 20%
    }

    .right-pane-content {
        overflow: auto;
    }
}
