.page {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background: var(--go-ui-color-gray-10);
    height: 100%;
    overflow: hidden;

    .left-pane {
        display: flex;
        position: sticky;
        top: 0;
        flex: 0 0 16rem;
        flex-direction: column;
        background-color: var(--go-ui-color-white);
        gap: var(--go-ui-spacing-md);
        overflow-y: auto;
        width: 16rem;
        height: 100%;
    }

    .right-pane-content {
        flex: 1;
        min-width: 0;
        overflow: auto;
    }
}
