.nav {
    border: none;
    border-right: 2px solid var(--go-ui-color-gray-20);
    height: 100%;

    .group-title {
        border: none;
        border-bottom: var(--go-ui-width-separator-md) solid var(--go-ui-color-gray-20);
        border-radius: 0;
    }

    .route-link {
        border-bottom: var(--go-ui-width-separator-md) solid var(--go-ui-color-gray-20);
        padding: var(--go-ui-spacing-xs) var(--go-ui-spacing-sm);

        &:hover {
            border-bottom-color:var(--go-ui-color-primary-red)
        }
    }

    .active-route {
        border-bottom: var(--go-ui-width-separator-md) solid var(--go-ui-color-primary-red)
    }
}

.route-icon {
    font-size: 1.25rem; 
}