
::-webkit-scrollbar {
    transform: translateX(100%);
    background-color: var(--go-ui-color-scrollbar-background);
    width: var(--go-ui-width-scrollbar);
    height: var(--go-ui-width-scrollbar);
}

::-webkit-scrollbar-track {
    background-color: var(--go-ui-color-scrollbar-background);
}

::-webkit-scrollbar-thumb {
    border-radius: var(--go-ui-radius-scrollbar-border);
    background-color: var(--go-ui-color-scrollbar-foreground);
}

body {
    line-height: var(--go-ui-line-height-md);
    color: var(--go-ui-color-text);
    font-family: var(--go-ui-font-family-sans-serif);
    font-size: var(--go-ui-font-size-md);
    font-weight: var(--go-ui-font-weight-normal);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

.status-indicator-active,
.status-indicator-inactive {
    display: inline-block;
    border-radius: 50%;
    width: var(--go-ui-spacing-sm);
    height: var(--go-ui-spacing-sm);
}


.status-indicator-active {
    background-color: var(--go-ui-color-positive);
}

.status-indicator-inactive {
    background-color: var(--go-ui-color-negative);
}