.upload-tile {
    display: flex;
    position: relative;
    place-content: center center;
    align-items: center;
    align-self: start;
    flex-direction: column;
    border: 1.5px dashed var(--go-ui-color-gray-40);
    border-radius: var(--go-ui-border-radius-lg);
    background-color: var(--go-ui-color-gray-10);
    cursor: pointer;
    padding: var(--go-ui-spacing-md);
    width: auto;
    height: 10rem;
    text-align: center;
    color: var(--go-ui-color-gray-70);
    gap: var(--go-ui-spacing-2xs);
}

.upload-tile .upload-tile-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    gap: var(--go-ui-spacing-2xs);
}

.upload-tile:hover,
.upload-tile:focus-within {
    border-color: var(--go-ui-color-primary-red);
    background-color: var(--go-ui-color-red-10);
    color: var(--go-ui-color-primary-red);
}

.upload-tile.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.upload-tile .upload-icon {
    font-size: var(--go-ui-font-size-2xl);
}

.load-more-sentinel {
    min-height: 1rem;
}

.file-item {
    position: relative;
}

.file-item .image-element {
    border: var(--go-ui-width-separator-sm) solid var(--go-ui-color-separator);
    border-radius: var(--go-ui-border-radius-lg);
}

.file-item .remove-button {
    position: absolute;
    top: var(--go-ui-spacing-xs);
    right: var(--go-ui-spacing-xs);
    transition: opacity 0.2s ease;
    opacity: 0;
}

.file-item:hover .remove-button,
.file-item .remove-button:focus-visible {
    opacity: 1;
}
