.navbar {
    border-bottom: var(--go-ui-width-separator-thin) solid var(--go-ui-color-separator);
    background-color: var(--go-ui-color-white);

    .icon {
        width: var(--go-ui-height-brand-icon);
        height: var(--go-ui-height-brand-icon);
    }
}
